<!---WHATSAPP-->
<app-whatsapp></app-whatsapp>


<section>
  <footer>
    <div class="uk-container" style="margin-top: 5%">
      <a routerLink="/empregos"> <img src="/assets/banner-fluxodigital.png" class="banner uk-border-rounded" alt=""> </a>
    </div>

<div class="footer">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@m uk-child-width-1-1" uk-grid>
      <div>
        <h3 class="footer-heading">FLUXODIGITAL</h3>
        <p class="footer-text">Empresa 100% angolana especializada em Desenvolvimento Web e Programação, Streaming/Audiovisual e Gestão de Infraestruturas de TI</p>
      </div>
      <div>
        <h3 class="footer-contact-heading">CONTACTOS</h3>
        <div class="footer-contact uk-accordion">
          <ul class="uk-list ">
            <li>
              <p class="footer-contact-info"><span class="uk-margin-small-right" uk-icon="icon: mail; ratio: 1"></span>geral&#64;fluxo-digital.com</p>
            </li>
            <li>
              <p class="footer-contact-info"><span class="uk-margin-small-right" uk-icon="icon: phone; ratio: 1"></span>Móvel:  +244 937 754 502</p>
            </li>
            <li>
              <p class="footer-contact-info"><span class="uk-margin-small-right" uk-icon="icon: receiver; ratio: 1"></span>Fixo: +244 222 719 920</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright">
  <p>&copy; 2024 Fluxodigital. Todos direitos reservados.</p>
</div>

  </footer>