<app-navbar></app-navbar>
<app-slider></app-slider>


<div style="margin-top:22%" class="uk-container uk-margin-medium-bottom">
    <h1 class="uk-heading-small uk-text-center uk-margin-large-top">Somos especialistas</h1>
  <h3 class="uk-text-center">Temos três (3) grupos de serviços para atender as necessidades do seu negócio</h3>
  </div>


  <!-- Desenvolvimento Web e Programação -->
<div style="margin-top: 2%; margin-left: 2%;" class=" uk-border-rounded">
    <div class="uk-text-center uk-container">
        <p class="icone"><span uk-icon="icon: world; ratio: 3"></span></p> 
        <h2 style="color: red;"><b> 1. Desenvolvimento Web e Programação </b></h2>
    </div>
    <div style="margin-top: 2%;">
        <div class="uk-child-width-1-4@s uk-grid-divider uk-grid-small uk-grid uk-match-height" uk-grid>
            <div> 
                <div class="uk-card uk-text-center uk-card-body">
                    <p  class="uk-card-title uk-match-height-all"><b>Criação de <br>Websites</b></p>
                    <div class="uk-card-media-top">
                        <img class="uk-border-rounded" src="assets/servicos/web-development.png" >
                        <p>para <b>grande</b>, médias e pequenas empresas; insituições públicas e privadas; com funcionalidades personalizadas e/ou comuns.</p>
                        <a [routerLink]="['/contacto']" ><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Soliticar</button></a>
                    </div>

                </div>
            </div>
    
        <div> 
            <div class="uk-card uk-text-center uk-card-body">
                <p  class="uk-card-title"><b>Criação de plataformas de comércio electrónico</b></p>
                <div class="uk-card-media-top">
                    <img class="uk-border-rounded" src="assets/servicos/e-commerce.png" >
                    <p>para grandes e pequenos negócios. Para alcançar clientes do mundo todo ou arranque rápido do seu negócio. </p>
                    <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Soliticar</button></a>
                </div>
        </div>
    </div>
    
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p  class="uk-card-title"><b>Criação de <br> Aplicativos</b></p>
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="assets/servicos/desenvolvimento-app.png" >
                <p>para a <b>Web</b>, dispositívos <b>móveis</b> e <b>desktops</b>. Aplicações para todas finalidades, possíveis e feitos à medida da sua necessidade.</p>
                <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Soliticar</button></a>
            </div>
        </div>
    </div>

     
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p  class="uk-card-title"><b>Recuperação de <br> Websites e Aplicativos</b></p>
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="assets/servicos/security.png" >
                    <p>Recuperamos e protegemos o seu website ou aplicativo e garantimos que não perca o investimento já feito.</p>
                <a  [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Soliticar</button></a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

  <!-- Audiovisual e Streaming -->
  <div style="margin-top: 2%; margin-left: 2%;" class=" uk-border-rounded">
    <div class="uk-text-center uk-container">
        <p class="icone"><span uk-icon="icon: play-circle; ratio: 3"></span></p>            
        <h2 style="color: red;"><b> 2. Produção AudioVisual </b> </h2>
    </div>
    <div style="margin-top: 2%;">
        <div class="uk-child-width-1-4@s uk-grid-divider uk-grid-small uk-grid uk-match-height" uk-grid>
            <div> 
                <div class="uk-card uk-text-center uk-card-body">
                    <p  class="uk-card-title uk-match-height-all"><b>Transmissões ao vivo para <br>Eventos e Emissoras</b></p>
                    <div class="uk-card-media-top">
                        <img class="uk-border-rounded" src="assets/servicos/live-streaming.png" >
                        <p>ajudamos-lhe a alcançar <b>audiência globa</b>, transmitindo seu evento ao vivo ou levando seu sinal para núvem dedicada</p>
                        <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
                    </div>
                </div>
            </div>
    
        <div> 
            <div class="uk-card uk-text-center uk-card-body">
                <p  class="uk-card-title"><b>Videoconferências e Eventos Híbridos</b></p>
                <div class="uk-card-media-top">
                    <img class="uk-border-rounded" src="assets/servicos/videoconferencia.png" >
                    <p> Integramos soluções de TI para envolver todas partes e personalidades ou audiência do seu evento. </p>
                    <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
                </div>
        </div>
    </div>
    
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p  class="uk-card-title"><b>Produção <br> Audiovisual</b></p>
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="assets/servicos/audiovisual.png" >
                <p>Elaboramos e executamos porjectos audiovisuais desde a <b>pré-produção até a pós-produção</b>. Tornamos real a sua ideia</p>
                <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
            </div>
        </div>
    </div>

     
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p  class="uk-card-title"><b>Design Gráfico<br> Corporativo</b></p>
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="assets/servicos/design-grafico.png" >
                    <p>Construimos sua marca implementação completa de uma identidade visual corporativa. Damos corpo aos seus projectos gráficos</p>
                    <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
                </div>
        </div>
    </div>
</div>
</div>
</div>



  <!-- Gestão de Infraestruturas de T.I -->
  <div style="margin-top: 2%; margin-left: 2%;" class=" uk-border-rounded">
    <div class="uk-text-center uk-container">
        <h2  style="color: red;"><b> 3. Gestão de Infraestruturas de T.I </b> </h2>
    </div>
    <div style="margin-top: 2%;">
        <div class="uk-child-width-1-4@s uk-grid-divider uk-grid-small uk-grid uk-match-height" uk-grid>
            <div> 
                <div class="uk-card uk-text-center uk-card-body">
                    <p  class="uk-card-title uk-match-height-all"><b>Provisionamento, instalação e <br>Configuração de Servidores</b></p>
                    <div class="uk-card-media-top">
                        <img class="uk-border-rounded" src="assets/servicos/servidores.png" >
                        <p>criamos e gerenciamos sua infraestrura <b>on premise</b>, garantido a instalação e execução sem sobresaltos dos seus serviços bem como a proteção dos seus dados</p>
                        <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
                    </div>
                </div>
            </div>
    
        <div> 
            <div class="uk-card uk-text-center uk-card-body">
                <p  class="uk-card-title"><b>Clouds Públicas e <br> Cloud Privadas</b></p>
                <div class="uk-card-media-top">
                    <img class="uk-border-rounded" src="assets/servicos/cloud.png" >
                    <p> Levamos suas aplicações e dados em segurança para a núvem, oferecendo nosso expertise transversal às melhores soluções e provedores do mercado.</p>
                    <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
                </div>
        </div>
    </div>
    
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p  class="uk-card-title"><b>DevOps<br>e CI/CD</b></p>
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="assets/servicos/devops.png" >
                <p>Implementamos práticas e ferramentas de úlima geração para agilizar o processo de entrega de software de forma confiável e segura dentro da sua organização.</p>
                <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
            </div>
        </div>
    </div>

     
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p  class="uk-card-title"><b>Ligaçõe<br>Ponto-a-Ponto </b></p>
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="assets/servicos/point-to-point.png" >
                    <p>Planejamos e implementamos o transporte de dados e conectividade para áreas de difícil acesso e remotas, centralizando o controlo e reduzindo custos operacionais.</p>
                    <a [routerLink]="['/contacto']"><button class="uk-border-rounded botao uk-button uk-button-large uk-button-default">Solicitar</button></a>
                </div>
        </div>
    </div>
</div>
</div>
</div>



<app-footer></app-footer>