/*.uk-card-body {
    background-color: red !important;
}*/


.redcard{
    background-color: red;
}



.botao {
 
    background-color: white !important;
    color: red !important;
}

.botao-1 {
  background-color: white !important;
  color: red !important;
}

.botao:hover {
  background-color: red !important;
  color: white !important;

}

.botao-2 {
 
    background-color: red !important;
    color: white !important;
}

.botao-3 {
    background-color: red;
    color:white;
    transition: background-color 0.5s ease; /* Transition on hover */

}
.botao-3:hover{
    background-color: white;
    color: red;
    transition: 2ms;
    cursor: pointer;

  }

.grey-bg{

  background-color: grey;

}

.uk-badge {
    background-color: white !important;
    color: red !important;
    height: 25px;
    padding: 10px;
    font-size: medium;
    
    
}

.icone {
    color:red
  }
  
  .fundo {
  
    background-color: red;
  
  }
  .texto {
    color:black !important
  }
  
  .banner {
    width: 100%;
    height: auto;
    padding-top: 24px;
  }
  
  
  .dominios {
  
      display:inline-block;
      padding-left: 10%;
      padding-right: 10%;
  
  }
  
  .sombra {

    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);

  }