<app-navbar></app-navbar>
<app-slider></app-slider>

<div style="margin-top: 22%;"  class="uk-container">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid uk-match-height" uk-grid>
        <div> 
            <div class="uk-card uk-border-rounded uk-text-center uk-card-primary uk-card-body redcard">
                <p class="icone"><span uk-icon="icon: world; ratio: 2"></span></p>            
                <h3 class="uk-card-title"><b>Desenvolvimento Web</b></h3>
                <p style="color: white;">- Criação de Websites <br> - Criação de Websites de comércio Electrónico <br> - Criação de Aplicativos (Apps) para Mobile e Desktop</p>
                <button  routerLink="/servicos" class="botao-1 uk-border-rounded uk-button-default uk-button-large">SAIBA MAIS</button>
        </div>
    </div>

    <div> 
        <div class="uk-card uk-border-rounded uk-text-center uk-card-primary uk-card-body redcard">
            <p class="icone"><span uk-icon="icon: play-circle; ratio: 2"></span></p>            
            <h3 class="uk-card-title">Audiovisual e Streaming</h3>
            <p style="color: white;"> - Live Streaming e Videoconferências <br> - Produção AudioVisual (Filmes, spots, documentários, shorts -films)
            <br> -  Design gráfico <br> - Gestão de redes sociais</p>
            <button routerLink="/servicos" class=" uk-border-rounded uk-button-default uk-button-large">SAIBA MAIS</button>
        </div>
    </div>

    <div>
        <div class="uk-card uk-border-rounded uk-text-center uk-card-primary uk-card-body redcard">
            <p class="icone"><span uk-icon="icon: server; ratio: 2"></span></p>            
            <h3 class="uk-card-title"><b>Infraestruturas de TI</b></h3>
            <p style="color: white;"> - Cloud <br> - Configuração e administração de servidores <br> - Ligações ponto-a-ponto <br> - Redes estruturadas </p> 
            <button routerLink="/servicos" class="botao-1 uk-border-rounded uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>
        </div>
    </div>
    
    </div>
</div>

<!-- Publicidade -->


<div style="margin-top: 2%;"  class="">
   
    <div class="uk-container uk-margin-medium-bottom">
        <h1 class="uk-heading-small uk-text-center uk-margin-large-top">Somos confiados por quem busca por Excelência</h1>
      <h3 class="uk-text-center">Veja alguns casos de sucesso:</h3>
      </div>

   
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid uk-match-height" uk-grid>
        <div> 
            <div class="uk-card uk-border-rounded uk-text-center uk-card-primary uk-card-body uk-background-muted">
                <iframe width="100%" height="400px%" src="https://www.youtube.com/embed/RV59FNE9a1E?controls=1&rel=0&modestbranding" title="YouTube video player" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" controls="0" allowfullscreen></iframe>
            </div>
    </div>

    <div> 
        <div class="uk-card uk-border-rounded uk-text-center uk-card-primary uk-card-body uk-background-muted">
            <iframe width="100%" height="400px%" src="https://www.youtube.com/embed/WYjozjjcenk?controls=1&rel=0&modestbranding" title="YouTube video player" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" controls="0" allowfullscreen></iframe>    
        </div>
    </div>

    <div>
            <div class="uk-card uk-border-rounded uk-text-center uk-card-primary uk-card-body uk-background-muted">
                <iframe width="100%" height="400px%" src="https://www.youtube.com/embed/S5bJba9Awd4?controls=1&rel=0&modestbranding" title="YouTube video player" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" controls="0" allowfullscreen></iframe>
            </div>
    </div>
    
    </div>
</div>


<!-- Produtos-->


<div style="margin-top: 2%;" class="uk-container uk-border-rounded">
    <div class="uk-text-center uk-margin-medium-top">
        <h1>Desenvolvemos e fornecemos aplicações<br> à medida das suas necessidades</h1>
        <p>As nossas soluções são criadas para dar suporte aos sectores críticos ao desenvolvimento do país</p>
    </div>
    <div style="margin-top: 2%;">
        <div class="uk-child-width-1-4@s uk-grid-divider uk-grid-small uk-grid uk-match-height" uk-grid>
            <div> 
                <div class="uk-card uk-text-center uk-card-body">
                    <p style="color: red;" class="uk-card-title"><b>Transporte, mobilidade e conectividade</b></p>
                    <div class="uk-card-media-top">
                        <img class="uk-border-rounded" src="/assets/mobilidade-2.png"  >
                        <p> Integramos dados, sensores e inteligência artificial, para oferecer acessibilidade, eficiência, e sustentabilidade para qualquer negócio ou organização. </p>
                    </div>
                        <button routerLink="/servicos" class="botao-3 uk-border-rounded uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>
                    
            </div>
        </div>
    
        <div> 
            <div class="uk-card uk-text-center uk-card-body uk-card-backgorund-muted">
                <p style="color:red" class="uk-card-title"><b>TV, Streaming e Armazenamento de Dados</b><p>
                   <div class="uk-card-media-top">
                    <img class="uk-border-rounded" height="20px" class="uk-border-rounded" src="/assets/broadcast.png" >
                    <br><p>Com cada solução finalizada para os nossos clientes buscamos optimizamos os processos, reduz custos, melhora a eficiência e aumenta a produtividade. </p>
                </div>
                <button routerLink="/servicos" class="botao-3 uk-border-rounded uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

        </div>
    </div>
    
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p style="color: red;"  class="uk-card-title"><b>Segurança, Automação e Int. Artificial</b></p>
            <div class="uk-card-media-top">
                <img class="uk-border-rounded" src="/assets/security-ai.png" height="40px" width="100%">
            </div>
            <p> Nossas aplicações integram de Segurança, Automação e IA oferecendo um enorme potencial para construir um futuro mais seguro,  par seu negócio e comunidade. </p>
            <button routerLink="/servicos" class="botao-3 uk-border-rounded uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

    </div>
</div>

<div> 
    <div class="uk-card uk-text-center uk-card-body">
        <p style="color: red;"  class="uk-card-title"><b>Finanças, Gestão, Legal e Productividade</b></p>
        <div class="uk-card-media-top">
            <img class="uk-border-rounded" src="/assets/financas.png" height="60px" width="110%">
            <p > Desenvolvemos soluções que ajudam a Gerenciar finanças com eficiência, optimizar custos, processos,, cumprir obrigações legais e aumentar produtividade.</p>
        </div>
        <button routerLink="/servicos" class="botao-3 uk-border-rounded uk-button-danger uk-button-default uk-button-large">SAIBA MAIS</button>

</div>
</div>
        
        
        </div>
    </div>


</div>



<!--Fluxohost-->

<div class=" uk-margin-large-top uk-margin-large-medium uk-background-muted">
    <hr class="uk-divider-small">
    <h1 class="uk-heading-small uk-text-center" ><b>HOSPEDAGEM WEB ILIMITADA</b></h1>
    <div  class="uk-text-center">
        <img class="uk-margin-medium-bottom" src="/assets/logos/cPanel-logo.webp" width="300px">

    </div>
    </div>

<!-- Fluxohost - Tabela de preços -->

<h3 class="uk-text-center">Temos a melhor Hospedagem Web com <b>cPanel</b> e Plataforma <b>NVMe</b> em núvem premiada  </h3>
    <h3 class="uk-text-center">Conheça os nossos <b>Pacotes FLUXO</b>  de alojamento Web <br>desenhados para todos os fluxos de trabalho:</h3>


<div style="margin-top: 2%;"  class="uk-container">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid uk-match-height-all" uk-grid>
        <div> 
            <div class="uk-card uk-border-rounded uk-text-center uk-card-default uk-card-body ">
                <h2>FLUXO <b>BÁSICO</b></h2>
                <hr>
                <p><b>10GB</b> de espaço em <b>SSD</b> 
                    <br><b>30GB</b> de tráfego mensal 
                    <br><b>5 contas</b>(Apps) de E-mail
                    <br><b>2 contas</b> FTP
                    <br><b>3 bases de dados</b> SQL
                    <br><b>2 subdomínios</b>
                    <br><b>3 bases de dados</b> SQL
                </p>
                <h3 class="uk-card-title"><b>18.000 Kz / ano</b></h3>
                <button  routerLink="/servicos" class="botao uk-border-rounded uk-button-default uk-button-large">COMPRAR</button>
            </div>
    </div>

    <div> 
        <div class="uk-card uk-border-rounded uk-text-center uk-card-default uk-card-body redcard">
            <h2 style="color:white !important">FLUXO <b>ILIMITADO<br><span class="uk-badge">EM PROMOÇÃO</span>
            </b></h2>
            <hr>
            <p style="color: white !important"><b>50GB </b> de espaço em SSD Ilimitado
                <br>Tráfego mensal <b>Ilimitado</b>
                <br><b>50 contas</b>(Apps) de E-mail
                <br><b>20 contas</b> FTP
                <br><b>20 bases de dados</b> SQL
                <br><b>15 subdomínios</b>
                <br><b>5 domínios adicionais</b>
                <br><b>3 bases de dados</b> SQL
            </p>
            <h3 style="color: white;" class="uk-card-title"><b>150.000 Kz / ano</b></h3>
         
            <button  routerLink="/servicos" class="botao uk-border-rounded uk-button-default uk-button-large"><b>COMPRAR</b></button>
        </div>
    </div>

    <div class="">
        <div class="uk-card uk-border-rounded uk-text-center uk-card-default uk-card-body ">
            <h2>FLUXO <b>ACTIVO</b></h2>
            <hr>
            <p><b>50GB</b> de espaço em <b>SSD</b> 
                <br><b>100GB</b> de tráfego mensal 
                <br><b>25 contas</b>(Apps) de E-mail
                <br><b>8 contas</b> FTP
                <br><b>3 domínios adicionais</b> 
                <br><b>5 subdomínios</b>
                <br><b>8 bases de dados</b> SQL
            </p>
            <h3 class="uk-card-title"><b>62.000 Kz / ano</b></h3>
            <button  routerLink="/servicos" class="botao uk-border-rounded uk-button-default uk-button-large">COMPRAR</button>
        </div>
    </div>
    
    </div>
</div>



<!-- Fluxohost - Vantagens -->
<div style="margin-top: 2%;" class="uk-container uk-border-rounded">
    <div class="uk-text-center uk-margin-medium-top">
        <h2>Todos pacotes incluem</h2>
    </div>
    <div style="margin-top: 2%;">
        <div class="uk-child-width-1-4@s uk-grid-divider uk-grid-small uk-grid uk-match-height" uk-grid>
            <div> 
                <div class="uk-card uk-text-center uk-card-body">
                    <p  class="uk-card-title">Certificado SSL Grátis</p>
                    <div class="uk-card-media-top">
                        <img src="/assets/logos/lets-encrypt-icon-512x398-p2yz53mj.png" height="100px" width="80%" >
                    </div>
            </div>
        </div>
    
        <div> 
            <div class="uk-card uk-text-center uk-card-body">
                <p  class="uk-card-title">Automatização de Backups<p>
                <div class="uk-card-media-top">
                    <img src="/assets/logos/os-img-4.png" height="100px" width="100%" >
                </div>
        </div>
    </div>
    
    <div> 
        <div class="uk-card uk-text-center uk-card-body">
            <p  class="uk-card-title">Website Builder</p>
            <div class="uk-card-media-top">
                <img src="/assets/logos/WordPress-logotype-wmark.webp" height="40px" width="100%">
            </div>
    </div>
    </div>

        <div> 
            <div class="uk-card uk-text-center uk-card-body">
            <h3  class="uk-card-title">One Click Install com Softaculous</h3>
            <div class="uk-card-media-top">
                <img src="/assets/logos/softaculous-logo-Glossy.png" height="60px" width="110%">
            </div>
         </div>
        </div>
    </div>
    </div>
</div>

<app-clientes></app-clientes>
<app-footer></app-footer>

