.uk-slideshow-items {

    max-height:400px !important;
    height: 400px !important;
    align-items: center;
    
    }
    
    
    @media (max-width: 768px) {
      .slideshow {
        width: 100%;
      }
    }
    
    .slideshow {
      display: flex;
      flex-wrap: wrap;
      object-fit: fill;
      height: 100px;
    }
    
    @media (max-width: 768px) {
      .slideshow .prev,
      .slideshow .next {
        display: none;
      }
    }