<!-- Nossos clientes -->


<div class="uk-container" style="padding-top: 24px;">
    <h3 class="uk-text-center">Conheça alguns dos nossos clientes</h3>

    <!--- Primeiro blocom de clientes-->
<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-medium-top" uk-grid>
  <div>
      <div class="uk-background uk-padding"><img class="uk-border-rounded" src="/assets/clientes/cliente-1.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-2.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-3.png" alt=""></div>
  </div>
  <div>
    <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-4.png" alt=""></div>
</div>
<div>
  <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-5.png" alt=""></div>
</div>
<div>
  <div class=" uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-6.png" alt=""></div>
</div>

</div>
<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center " uk-grid>
  <div>
      <div class="uk-background uk-padding"><img src="/assets/clientes/cliente-7.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-8.png" alt=""></div>
  </div>
  <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-9.png" alt=""></div>
  </div>
  <div>
    <div class="uk-background uk-padding uk-light"><img  src="/assets/clientes/cliente-26.png" alt=""></div>
</div>
<div>
  <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-11.png" alt=""></div>
</div>
<div>
  <div class=" uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-12.png" alt=""></div>
</div>
</div>


    <!--- Segundo bloc de clientes-->
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center " uk-grid>
      <div>
          <div class="uk-background uk-padding"><img class="uk-border-rounded" src="/assets/clientes/cliente-13.png" alt=""></div>
      </div>
      <div>
          <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-15.png" alt=""></div>
      </div>
      <div>
          <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-16.png" alt=""></div>
      </div>
      <div>
        <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-17.png" alt=""></div>
    </div>
    <div>
      <div class="uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-18.png" alt=""></div>
    </div>
    <div>
      <div class=" uk-background uk-padding uk-light"><img class="uk-border-rounded" src="/assets/clientes/cliente-19.png" alt=""></div>
    </div>
    
    </div>
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center " uk-grid>
      <div>
          <div class="uk-background uk-padding"><img src="/assets/clientes/cliente-20.png" alt=""></div>
      </div>
      <div>
          <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-21.png" alt=""></div>
      </div>
      <div>
          <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-22.png" alt=""></div>
      </div>
      <div>
        <div class="uk-background uk-padding uk-light"><img  src="/assets/clientes/cliente-23.png" alt=""></div>
    </div>
    <div>
      <div class="uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-24.png" alt=""></div>
    </div>
    <div>
      <div class=" uk-background uk-padding uk-light"><img src="/assets/clientes/cliente-25.png" alt=""></div>
    </div>
  
    </div>
    </div>


    

